Source: quassel-irssi
Priority: optional
Maintainer: Jelmer Vernooĳ <jelmer@debian.org>
Build-Depends: debhelper (>= 9), pkg-config, libglib2.0-dev, irssi-dev (>= 0.8.20-2), libquasselc-dev
Standards-Version: 3.9.8
Section: net
Homepage: https://github.com/phhusson/quassel-irssi
Vcs-Git: git://anonscm.debian.org/collab-maint/quassel-irssi.git
Vcs-Browser: http://anonscm.debian.org/cgit/collab-maint/quassel-irssi.git/

Package: irssi-plugin-quassel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, irssi (>= 0.8.20-2)
Suggests: quassel-core
Enhances: irssi
Description: Quassel plugin for irssi
 irssi plugin which allows connecting to a quassel server (core).

Package: irssi-plugin-quassel-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, irssi-plugin-quassel (= ${binary:Version})
Description: quassel plugin for irssi - debugging symbols
 irssi plugin which allows connecting to a quassel server (core).
 .
 This package contains the debugging symbols.
