Source: quassel-irssi
Priority: optional
Maintainer: Jelmer Vernooĳ <jelmer@debian.org>
Build-Depends: debhelper (>= 9), pkg-config, libglib2.0-dev, irssi-dev (>= 0.8.20-2), libquasselc-dev (>= 0~git20161221), libssl-dev
Standards-Version: 4.1.0
Section: net
Homepage: https://github.com/phhusson/quassel-irssi
Vcs-Git: https://salsa.debian.org/jelmer/quassel-irssi.git
Vcs-Browser: https://salsa.debian.org/jelmer/quassel-irssi.git

Package: irssi-plugin-quassel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, irssi (>= 0.8.20-2)
Suggests: quassel-core
Enhances: irssi
Description: Quassel plugin for irssi
 irssi plugin which allows connecting to a quassel server (core).

Package: irssi-plugin-quassel-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, irssi-plugin-quassel (= ${binary:Version})
Description: quassel plugin for irssi - debugging symbols
 irssi plugin which allows connecting to a quassel server (core).
 .
 This package contains the debugging symbols.
