#!/usr/bin/make -f

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

%:
	CFLAGS="$(CFLAGS) $(shell pkg-config --cflags quasselc)" LDFLAGS="$(LDFLAGS) $(shell pkg-config --libs quasselc)" dh $@

override_dh_auto_build:
	$(MAKE) -C core

override_dh_auto_install:
	$(MAKE) -C core install

override_dh_auto_clean:
	$(MAKE) -C core clean

override_dh_strip:
	dh_strip --dbg-package=irssi-plugin-quassel-dbg
